@charset "UTF-8";
/* Estilo al header */
header {
  background-color: white; }
  header .container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
  header .logo {
    margin: auto;
    padding: 25px 30px;
    font-size: 2em; }
  header nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 25px; }
  header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black; }
    header a:hover {
      color: #8a2be2; }

/* Imagen de fondo principal */
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 60vh;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/fondo-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  #hero h1 {
    font-size: 2em; }
  #hero button {
    font-size: 1.85rem; }

/* Limites al contenedor */
.container {
  max-width: 1400px;
  margin: auto; }
  .container h2 {
    text-align: center; }

/* Footer */
footer {
  width: 100%;
  background-color: #e6e6e6;
  position: absolute; }
  footer p {
    margin: 0;
    padding: 12px;
    color: #646464; }
  footer .container {
    height: 176px;
    display: flex;
    justify-content: center;
    align-items: flex-end; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

#div1 {
  animation-timing-function: linear; }

/* Cuerpo de pagina */
body {
  font-family: "Roboto", sans-serif;
  margin: 0; }

.color-acento {
  color: rgba(139, 215, 25, 0.818); }

/* Tamaño al Logo principal */
/* Titulos y texto */
h1 {
  font-size: 3.5em; }

h2 {
  font-size: 2.7em; }

h3 {
  font-size: 2em; }

p {
  font-size: 1.25em; }

ul {
  list-style: none; }

/* Seccion de Cursos */
#nuestros-cursos {
  background-color: #1e1e1e;
  color: white;
  text-align: center; }
  #nuestros-cursos .container {
    padding: 150px 10px; }
  #nuestros-cursos .programas {
    display: flex;
    justify-content: center;
    padding: 100px 20px; }
  #nuestros-cursos h2 {
    margin-top: 0; }
  #nuestros-cursos h3 {
    margin-top: 0;
    padding-bottom: 60px; }
  #nuestros-cursos p {
    display: block;
    margin-bottom: 30px; }
  #nuestros-cursos .carta {
    background-size: 100% 150px;
    background-repeat: no-repeat;
    background-position-y: 0;
    background-color: #323232;
    box-shadow: 2px, 2px, 10px rgba(0, 0, 0, 0.5);
    padding: 50px;
    margin: 22px;
    border-radius: 18px; }
  #nuestros-cursos .carta:first-child {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/front-end.jpg); }
  #nuestros-cursos .carta:nth-child(2) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/fullstack.png); }
  #nuestros-cursos .carta:nth-child(3) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/pyton.jpg); }

/* Seccion caracteristicas */
#caracteristicas .imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/caracteristicas.png); }
  #caracteristicas .imagen h2 {
    text-align: center; }
  #caracteristicas .imagen li {
    font-size: 1.95rem;
    margin: 20px 2px;
    align-items: center;
    font-weight: bold; }

/* Botones */
button {
  font-size: 1.5em;
  font-weight: bold;
  padding: .5em;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: #8a2be2;
  /* Estilo cuando paso por encima de los botones */ }
  button:hover {
    cursor: pointer;
    background-color: #5e1d9b; }

/* Seccion caracteristicas */
#caracteristicas .imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/caracteristicas.png); }
  #caracteristicas .imagen h2 {
    text-align: center; }
  #caracteristicas .imagen li {
    font-size: 1.95rem;
    margin: 20px 2px;
    align-items: center;
    font-weight: bold; }

/* Seccion para aplicar a los cursos*/
#aplicar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #1e1e1e;
  color: white;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/back-aplicar.jpg); }
  #aplicar button {
    font-size: 1.85rem; }
  #aplicar h2 {
    font-size: 8vw; }

/* Carousel */
.c-item {
  height: 30%; }

.c-img {
  height: 600px;
  position: sticky;
  filter: brightness(0.6); }

/* Adaptacion a Desktop */
@media screen and (max-width: 400px) {
  a.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-size: 2rem; } }

/* Hero */
@media screen and (max-width: 1023px) {
  #hero {
    height: 70vh; } }

@media screen and (max-width: 1023px) {
  #hero h1 {
    font-size: 5em; } }

/* Estilo al header */
header {
  background-color: white; }
  @media screen and (max-width: 1023px) {
    header .container {
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center; }
    header .logo {
      margin: auto;
      padding: 25px 30px;
      font-size: 2em; }
    header nav {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 25px; }
    header a {
      padding: 5px 12px;
      text-decoration: none;
      font-weight: bold;
      color: black; }
      header a:hover {
        color: #8a2be2; } }

/* Nosotros */
@media screen and (max-width: 1023px) {
  #somos-codeaya .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #somos-codeaya .texto {
    width: 100%;
    max-width: 600px;
    padding: 0px 30px;
    margin: 20px;
    justify-content: center;
    flex-direction: column; }
  #somos-codeaya .img-container {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/somos-codeaya.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 800px;
    margin: 30px; } }

/* Cursos */
@media screen and (max-width: 1023px) {
  #nuestros-cursos .programas {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    color: white;
    text-align: center; }
  #nuestros-cursos .carta {
    background-size: cover;
    background-repeat: round; }
  #nuestros-cursos .container {
    padding: 100px 0px; }
  #nuestros-cursos h2 {
    margin-top: 0; }
  #nuestros-cursos h3 {
    margin-top: 0;
    padding-bottom: 30px;
    font-size: calc(1em + 1vw); }
  #nuestros-cursos p {
    display: none; } }

/* Empleos */
@media screen and (max-width: 1023px) {
  #nuestros-empleos .empleos {
    display: flex;
    justify-content: center; }
  #nuestros-empleos p {
    display: flex;
    margin-bottom: 30px; }
  #nuestros-empleos h3 {
    margin-top: 0; }
  #nuestros-empleos .carta {
    padding: 15px; } }

/* Footer */
@media screen and (max-width: 1023px) {
  footer {
    width: 100%;
    background-color: #e6e6e6; }
    footer p {
      margin: 0;
      padding: 12px;
      color: #646464; }
    footer .container {
      height: 150px;
      display: flex;
      justify-content: right;
      align-items: flex-end; } }

/* Nosotros */
#somos-codeaya .container {
  display: flex;
  justify-content: center;
  padding: 10px; }

#somos-codeaya .texto {
  max-width: 50%;
  padding: 0px 30px;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column; }

#somos-codeaya p {
  margin-top: 30px; }

#somos-codeaya h2 {
  margin: 0; }

#somos-codeaya .img-container {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/somos-codeaya.jpg");
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 400px;
  margin: 30px; }
