/* Adaptacion a Desktop */
@media (max-width:400px) {
    a.logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
}

@media (min-width:1023px) {

    /* Hero */
    #hero {
        height: 70vh;
    }



    /* Header */
    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    /* H1 Pantalla principal */
    #hero h1 {
        font-size: 5em;
    }

    /* Nosotros */
    #somos-codeaya .container {
        display: flex;
        justify-content: center;
        margin: 10%;
    }

    #somos-codeaya .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        padding: 0px 30px;
        margin: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #somos-codeaya h2 {
        margin: 0;
    }

    #somos-codeaya .img-container {
        background-image: url("../img/somos-codeaya.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
        margin: 30px;
    }

    /* Cursos */
    #nuestros-cursos .programas {
        display: flex;
        justify-content: center;
    }

    #nuestros-cursos p {
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-cursos h3 {
        margin-top: 0;
    }

    #nuestros-cursos .carta {
        padding: 15px;
    }

    /* Empleos */

    #nuestros-empleos .empleos {
        display: flex;
        justify-content: center;
    }

    #nuestros-empleos p {
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-empleos h3 {
        margin-top: 0;
    }

    #nuestros-empleos .carta {
        padding: 15px;
    }

    /* Footer */
    footer {
        width: 100%;
        background-color: rgb(230, 230, 230);
    }

    footer p {
        margin: 0;
        padding: 12px;
        color: rgb(100, 100, 100);

    }

    footer .container {
        height: 150px;
        display: flex;
        justify-content: right;
        align-items: flex-end;

    }
}