/* Footer */

footer {
    width: 100%;
    background-color: rgb(230, 230, 230);
     p {
        margin: 0;
        padding: 12px;
        color: rgb(100, 100, 100);
    }
    .container {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .contacto {
        width: 100%;
        background-color: rgb(230, 230, 230);
        position: fixed;
        bottom: 0;
    }
}





