$colores: (
"principal": #8a2be2,
"blanco": white,
"negro": black,
);

$fuentes: (
    "negrita": bold,
);


/* Estilo al header */
header {
    background-color: map-get($map: $colores, $key:"blanco" );

    .container {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin: auto;
        padding: 25px 30px;
        // font-weight: map-get($map: $fuentes, $key:"bold" );
        font-size: 2em;
    }
    
    nav {
        display: flex;
        flex-direction: row;
        text-align: center;
        padding-bottom: 25px;
    }
    
}

header {
    a{ 
        padding: 5px 12px;
        text-decoration: none;
        font-weight: bold;
        color: map-get($map: $colores, $key:"negro" );

        &:hover {
            color: map-get($map: $colores, $key:"principal" );
        }
    }
}

