

/*  Imagenes estilo carta cursos */
.programas {
    text-align: center;
    padding: 100px 20px;
}

/* Seccion de Cursos */
#nuestros-cursos {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
    
    .container {
        padding: 150px 10px;
    }

    h2 {
        margin-top: 0;
    }

    p {
        display: none;
    }

    .carta {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 50px;
        margin: 22px;
        border-radius: 18px;
    }

    .carta:first-child {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url(../img/front-end.jpg);
    }

    .carta:nth-child(2) {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url(../img/fullstack.png);
    }

    .carta:nth-child(3) {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url(../img/pyton.jpg);
    }
}