/* Seccion Empleos */
#nuestros-empleos {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;

    .container {
        padding: 4rem 1rem;
    }

    h2 {
        text-align: center;
        margin-bottom: 6rem;
    }

    p {
        display: 1;
    }

    .carta {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 55px;
        margin: 25px;
        border-radius: 18px;
    }

    .carta:first-child {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url(../img/junior.png);
    }

    .carta:nth-child(2) {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url(../img/arquitecto-soft.png);
    }

    .carta:nth-child(3) {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url(../img/freelance.jpg);
    }
}