$fuentes: (
    "logo": 80px,
);

/* Titulos y texto */
h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

/* Tamaño al Logo principal */
.container .logo {
    font-size: map-get($map: $fuentes, $key: "logo" );
}
