/* Adaptacion a Desktop */
    a.logo {
            @include logo {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: auto;
                font-size: 2rem;
        } 
    }


    /* Hero */
    #hero {
        @include tablet {
            height: 70vh;
        }
        h1 {
            @include tablet {
                font-size: 5em;
            }
        }
    }



    /* Estilo al header */
header {
    background-color: map-get($map: $colores, $key:"blanco" );

    @include tablet {
        .container {
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .logo {
            margin: auto;
            padding: 25px 30px;
            // font-weight: map-get($map: $fuentes, $key:"bold" );
            font-size: 2em;
        }
        
        nav {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-bottom: 25px;
        }
        a { 
            padding: 5px 12px;
            text-decoration: none;
            font-weight: bold;
            color: map-get($map: $colores, $key:"negro" );
    
            &:hover {
                color: map-get($map: $colores, $key:"principal" );
            }
         }
    } 
}

        /* Nosotros */
        #somos-codeaya {
            @include tablet {
                    .container {
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: center;
                    margin: 10%;
                    }
                    .texto {
                    width: 50%;
                    max-width: 600px;
                    text-align: initial;
                    padding-left: 30px;
                    padding: 0px 30px;
                    margin: 20px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    }
                    h2 {
                        margin: 0;
                    }
                
                    .img-container {
                        background-image: url("../../img/somos-codeaya.jpg");
                        background-size: cover;
                        background-position: center center;
                        height: 500px;
                        width: 400px;
                        margin: 30px;
                        display: flex;
                        flex-direction: column;
                    }
                
            }
        }
    

    /* Cursos */
    #nuestros-cursos {
        @include tablet {
        .programas {
            display: flex;
            justify-content: center;
            p {
                display: block;
                margin-bottom: 30px;
            }
            h3 {
                margin-top: 0;
            }
        
            .carta {
                padding: 15px;
            }
        }
    }
}   
        /* Empleos */
    
        #nuestros-empleos {
            @include tablet {
            .empleos {
                display: flex;
                justify-content: center;
            }
        
            p {
                display:flex;
                margin-bottom: 30px;
            }
        
            h3 {
                margin-top: 0;
            }
        
            .carta {
                padding: 15px;
            }
        }
    }    
        
    /* Footer */
    footer {
        @include tablet {
            width: 100%;
            background-color: rgb(230, 230, 230);

            p {
                margin: 0;
                padding: 12px;
                color: rgb(100, 100, 100);
            }
        
            .container {
                height: 150px;
                display: flex;
                justify-content: right;
                align-items: flex-end;
            }
        }
    }

   
