/* Adaptacion a Desktop */
    a.logo {
            @include logo {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: auto;
                font-size: 2.5rem;
        } 
    }


    /* Hero */

#hero {
    @include mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 60vh;
    color: white;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(../img/fondo-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    }
}
    /* Estilo al header */
header {
    background-color: map-get($map: $colores, $key:"blanco" );

    @include tablet {
        .container {
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .logo {
            margin: auto;
            padding: 25px 30px;
            font-size: 2em;
        }
        
        nav {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-bottom: 25px;
        }
        a { 
            padding: 5px 12px;
            text-decoration: none;
            font-weight: bold;
            color: map-get($map: $colores, $key:"negro" );
    
            &:hover {
                color: map-get($map: $colores, $key:"principal" );
            }
         }
    } 
}

    /* Nosotros */
    #somos-codeaya {
        @include tablet {
                .container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;             
                }
                .texto {
                    width: 100%;
                    max-width: 600px;
                    padding: 0px 30px;
                    margin: 20px;
                    justify-content: center;
                    flex-direction: column;
                }
                .img-container {
                    background-image: linear-gradient(
                        0deg,
                        rgba(0,0,0,0.5),
                        rgba(0,0,0,0.5)
                    ), url("../../img/somos-codeaya.jpg");
                    background-size: cover;
                    background-position: center center;
                    max-width: 100%;
                    height: auto;
                    margin: 30px;
                 }
            }
        }
    

    /* Cursos */
    #nuestros-cursos {
        @include tablet {
        .programas {
            display: flex;
            flex-direction: column;
            background-color: rgb(30,30,30);
            color: white;
            text-align: center;
        }
        .carta{
        background-size: cover;
        background-repeat: round;
        }
        .container {
            padding: 100px 0px;
        }
        h2{
            margin-top: 0;
        }
        h3 {
            margin-top: 0;
            padding-bottom: 30px;
            font-size: calc(1em + 1vw)
        }
        p{
            display: none;
        }
    }
}   

/* Seccion caracteristicas */
#caracteristicas {
    @include mobile{
    .imagen {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: 90vh;
        width: 100%;
        color: white;
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url(../img/caracteristicas.png);
        }

    h2 {
        font-size: 1.5rem;
        text-align: center;
    }
    li {
        font-size: 1.4rem;
        margin: 20px 2px;
        align-items: center;
        font-weight: bold;
    }  
  }    
}
/* Empleos */
    
        #nuestros-empleos {
            @include tablet {
            .empleos {
                display: flex;
                justify-content: center;
            }
        
            p {
                display:flex;
                margin-bottom: 30px;
            }
        
            h3 {
                margin-top: 0;
            }
        
            .carta {
                padding: 15px;
            }
        }
    } 
    
    /* Carousel */
    @include mobile {
        .c-item {
            height: 30%;
        }

        .c-img {
            height: 600px;
            position:sticky;
            
            filter: brightness(0.6);
    }
}      
    /* Footer */
    footer {
        @include tablet {
            width: 100%;
            background-color: rgb(230, 230, 230);

            p {
                margin: 0;
                padding: 12px;
                color: rgb(100, 100, 100);
            }
        
            .container {
                height: 150px;
                display: flex;
                justify-content: right;
                align-items: flex-end;
            }
        }
    }

   
