* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#div1 {
    animation-timing-function: linear;
}

/* Cuerpo de pagina */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.color-acento {
    color: rgba(139, 215, 25, 0.818)
}